<div class="main-content">
  <div class="section-content section-content-p30">

    <h4>Category: {{ currentCategoryName }}</h4>
    <hr>

    <div class="container-fluid">
      <div class="row">

        <!-- loop over the collection of products-->
        <div *ngFor="let tempProd of products" class="col-md-3">

          <div class="product-box">

            <a routerLink="/products/{{ tempProd.id }}">
              <img src="{{ tempProd.imageUrl }}" class="img-responsive">
            </a>

            <a routerLink="/products/{{ tempProd.id }}">
              <h1>{{ tempProd.name }}</h1>
            </a>

            <div class="price">{{ tempProd.unitPrice | currency:'USD' }}</div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>

        </div>

        <!-- if products are empty display a message
          ? is a safe navigation operator, guards against null and undefined values in property
          will apply the message if products is null as well -->
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
          No products found.
        </div>

      </div>
    </div>
  </div>

</div>
